@import "../../../assets/styles/theme.scss";

mat-toolbar {
  background-color: $background-color;
  color: $foreground-color;

  .row-spacer {
    flex: 1 1 auto;
  }

  mat-form-field.launchpad-searchbox {
    padding-top: 20px;
  }
}